* {
  box-sizing: border-box;
}

.statistics {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #b8bbbd 3px solid;
  width: 270px;
  height: auto;
}

.title {
  text-transform: uppercase;
}

.stat_list {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: orange;
  /* border: #b8bbbd 1px solid; */
}

.item span {
  margin: 5px;
}

.label {
}

.percentage {
}
